/* ======== Initial ======= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  --mobile-screen: 375px;
  --desktop-screen: 1440px;

  /* ========COLOR========= */
  --primary-color-cyan: hsl(180, 66%, 49%);
  --primary-color-dark-violet: hsl(257, 27%, 26%);

  --secondary-color-red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);

  --font-size: 18px;
  --font-family: Poppins;
}
html {
  font-size: 62.5%;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family), sans-serif;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* ========= Header =========== */
section.header {
  width: 100%;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem;
}

section header h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

section nav ul {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  /* 25% && -100% */
}

section nav ul li a {
  text-decoration: none;
  color: white;
}

section nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--primary-color-dark-violet);
  width: 32rem;
  height: 38rem;
  border-radius: 1rem;
  padding: 3rem 2rem;
  gap: 4rem;
  z-index: 100;
  font-weight: 500;
}
.nav__left,
.nav__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
section nav ul div li {
  cursor: pointer;
}
.login {
  margin-top: 2rem;
  position: relative;
}
.login::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 0.5px;
  background-color: var(--grayish-violet);
  border-radius: 10px;
  top: -3rem;
  left: -235%;
}
.sign-up {
  width: 28rem;
  height: 5rem;
  text-align: center;
  background-color: var(--primary-color-cyan);
  padding: 1.6rem 0;
  border-radius: 3rem;
}
section nav i {
  font-size: 2.6rem;
  font-weight: 300;
  color: var(--grayish-violet);
  cursor: pointer;
}
/* =========SLIDE======= */
.slide {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 17rem;
}
.slide__desc h2 {
  font-size: 3rem;
  font-weight: 700;
  padding: 2rem;
  word-spacing: 0.3rem;
}
.slide__desc p {
  color: var(--grayish-violet);
  line-height: 1.5;
  margin-bottom: 3rem;
}
.btn--start {
  width: 18rem;
  height: 5rem;
  border-radius: 2rem;
  background-color: var(--primary-color-cyan);
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
  outline: none;
  cursor: pointer;
  border: 0;
}
.slide__working svg {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.slide__working {
  width: 100%;
  height: 50rem;
  min-height: 50rem;
  overflow: hidden;
}
/* ======Mainly======== */
.mainly {
  width: 100%;
  height: 100%;
  max-height: 70rem;
  min-height: 10rem;
  font-family: var(--font-family), sans-serif;
}
.mainly article form input {
  height: 5rem;
  width: 28rem;
  outline: none;
  border: 2px solid transparent;
  border-radius: 1rem;
  color: var(--grayish-violet);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1.6rem;
  font-family: var(--font-family), sans-serif;
}
.mainly article form {
  padding: 2rem;
  background-color: var(--primary-color-dark-violet);
  background-image: url(../images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  border-radius: 1rem;
  position: absolute;
  width: 33rem;
  min-height: 16rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn--shortly {
  width: 28rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: var(--primary-color-cyan);
  color: white;
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  border: 0;
  outline: none;
  cursor: pointer;
}
#output {
  width: 100%;
  padding-top: 1rem;
  background-color: transparent;
  margin-bottom: 13rem;
  margin: 0 auto;
  padding-top: 10rem;
}
.card--output {
  padding: 1.6rem 2.5rem;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.card--output h3 {
  margin-bottom: 3rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card--output h4::after {
  content: "";
  position: absolute;
  width: 1000px;
  height: 0.5px;
  background-color: var(--grayish-violet);
  border-radius: 10px;
  top: 0;
  left: 0;
  transform: translate(-20%, -1.5rem);
}
.card--output h4 {
  position: relative;
  margin-bottom: 2rem;
  color: var(--primary-color-cyan);
}
/* =============ASIDE INFO=============*/
.aside__info {
  background-color: #f0f1f6;
  color: var(--grayish-violet);
  /* padding-top: 17rem; */
  text-align: center;
  padding-bottom: 8rem;
  position: relative;
}
.aside__desc h3 {
  color: var(--very-dark-violet);
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 3rem;
}
.aside__desc p {
  line-height: 1.5;
}
.aside__desc {
  margin-bottom: 9rem;
  margin-top: 10rem;
}
.card {
  width: 100%;
  height: 26.5rem;
  background-color: white;
  border-radius: 10px;
  padding: 8rem 3.5rem 2rem 3.5rem;
  position: relative;
}
.card__title {
  color: var(--very-dark-violet);
  margin-bottom: 3rem;
  font-weight: 700;
}
.card__desc {
  font-size: 14px;
  line-height: 1.75;
}
div.card:nth-of-type(1),
div.card:nth-of-type(2) {
  margin-bottom: 9rem;
}
.card__icon {
  position: absolute;
  padding: 2rem;
  border-radius: 50%;
  background-color: var(--primary-color-dark-violet);
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
div.card:nth-of-type(1)::after,
div.card:nth-of-type(2)::after {
  content: "";
  height: 5rem;
  width: 1rem;
  background-color: var(--primary-color-cyan);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}
/* ======== ASIDE LINK =======*/
.aside__link {
  padding-top: 10rem;
  padding-bottom: 9rem;
  background-color: var(--primary-color-dark-violet);
  background-image: url(../images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover, cover;
  background-position: center;
  text-align: center;
}
.aside__link h4 {
  color: white;
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
/* ======== Footer =======*/
footer {
  padding-top: 5rem;
  padding-bottom: 4rem;
  color: white;
  background-color: var(--very-dark-violet);
  text-align: center;
}
.footer ul li {
  color: var(--gray);
  font-size: 1.4rem;
  cursor: pointer;
}
.footer ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer h5 {
  margin-bottom: 3rem;
}
.footer {
  margin-bottom: 4rem;
}
.social {
  margin: 0 auto;
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
}
footer svg {
  margin-bottom: 3rem;
  fill: white;
}

/* ============VALIDATION============= */
.mainly article form div {
  width: 100%;
  position: relative;
  margin-bottom: 2.5rem;
}
.mainly article form input.error--message {
  transition: all 1s linear;
  border: 2px solid var(--secondary-color-red);
  position: relative;
}
.mainly article form span {
  transition: all 1s linear;
  position: absolute;
  bottom: 0;
  left: 0;
  color: transparent;
  font-size: 1.2rem;
  transform: translate(9%, 140%);
  font-style: italic;
}
.mainly article form input.error--message::placeholder {
  transition: all 1s linear;
  color: var(--secondary-color-red) !important;
}

/* ========RESPONSIVE========= */

@media screen and (min-width: 1024px) {
  .header {
    width: 100%;
    justify-content: stretch;
    gap: 4rem;
  }
  .header nav {
    width: 100%;
  }
  .header nav i {
    display: none;
  }
  .header nav ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 3rem 2rem;
    gap: 4rem;
    z-index: 100;
    font-weight: 500;
  }
  section nav ul li a {
    text-decoration: none;
    color: var(--grayish-violet);
  }
  .nav__left,
  .nav__right {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .login {
    margin-top: 0;
  }
  .sign-up {
    width: 10rem;
    height: 4rem;
    padding: 1rem;
  }
  .sign-up a {
    color: white;
  }
  .login::before {
    display: none;
  }
  /* ================RESPONSIVE MAINLY================= */
  .slide {
    flex-direction: row;
  }
  .slide__desc h2 {
    font-size: 7rem;
    padding: 0;
    margin-bottom: 3rem;
  }
  .slide__desc {
    text-align: left;
  }
  .slide__desc p {
    margin-bottom: 7rem;
  }
  .card--output h4::after {
    display: none;
  }
  .card--output {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card--output div {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .card--output h3,
  .card--output h4 {
    margin: 0;
  }
  .btn--copy {
    width: 10rem;
    height: 4rem;
    font-size: 1.4rem;
  }
  /* ============MAINLY============ */
  .mainly article form {
    width: calc(100% - 4rem);
    flex-direction: row;
    padding: 5rem 6rem;
    gap: 2rem;
  }
  .mainly article form input {
    width: 100%;
  }
  /* CARD */
  .aside__desc h3 {
    font-size: 3.7rem;
  }
  .aside__desc p {
    padding-left: 20rem;
    padding-right: 20rem;
  }
  .aside__content {
    display: flex;
    gap: 3.5rem;
  }
  div.card:nth-of-type(1),
  div.card:nth-of-type(2) {
    margin-bottom: 0;
  }
  div.card:nth-of-type(2) {
    transform: translateY(4rem);
  }
  div.card:nth-of-type(3) {
    transform: translateY(8rem);
  }
  div.card:nth-of-type(1)::after,
  div.card:nth-of-type(2)::after {
    height: 1rem;
    width: 5rem;
    bottom: 50%;
    left: 100%;
    transform: translateY(100%);
  }
  .aside__info {
    padding-bottom: 20rem;
  }
  .aside__link h4 {
    font-size: 3.4rem;
    margin-bottom: 3rem;
  }
  .aside__link {
    padding-top: 8rem;
    padding-bottom: 7rem;
  }
  footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
  .footer__container {
    display: flex;
    align-items: flex-start;
    gap: 7rem;
  }
  .social {
    margin: 0;
  }
  .mainly article form div {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-left: 15rem;
    padding-right: 15rem;
  }
  .mainly article form {
    width: calc(100% - 30rem);
  }
  .aside__desc p {
    padding-left: 30rem;
    padding-right: 30rem;
  }
  #output {
    /* width: calc(100% - 30rem); */
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 2056px) {
  .container {
    padding-left: 50rem;
    padding-right: 50rem;
  }
  .mainly article form {
    width: calc(100% - 100rem);
  }
}
